---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/xxx/Messages.json
    body:
      encoding: UTF-8
      string: Body=MyApp+Verification+Code%3A+7122&From=%2B15005550006&To=%2B5519123451234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic xxx
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Duration:
      - '0.030'
      Twilio-Request-Id:
      - RQ3442304ea48946738ca1be88d7e90b65
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM326c4d96d03c446f9be06256edd03370", "date_created": "Sat,
        17 Mar 2018 17:02:28 +0000", "date_updated": "Sat, 17 Mar 2018 17:02:28 +0000",
        "date_sent": null, "account_sid": "xxx", "to":
        "+5519123451234", "from": "+15005550006", "messaging_service_sid": null, "body":
        "Sent from your Twilio trial account - MyApp Verification Code: 7122", "status":
        "queued", "num_segments": "1", "num_media": "0", "direction": "outbound-api",
        "api_version": "2010-04-01", "price": null, "price_unit": "USD", "error_code":
        null, "error_message": null, "uri": "/2010-04-01/Accounts/xxx/Messages/SM326c4d96d03c446f9be06256edd03370.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/xxx/Messages/SM326c4d96d03c446f9be06256edd03370/Media.json"}}'
  recorded_at: Sat, 17 Mar 2018 17:02:28 GMT
recorded_with: VCR 4.0.0
