---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/xxx/Messages.json
    body:
      encoding: UTF-8
      string: Body=MyApp+Verification+Code%3A+7690&From=%2B15005550006&To=%2B15005550001
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic xxx
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.039'
      Twilio-Request-Id:
      - RQ24e4c3dca20146d187ece131fffa923d
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number +15005550001 is not a
        valid phone number.", "more_info": "https://www.twilio.com/docs/errors/21211",
        "status": 400}'
  recorded_at: Sat, 17 Mar 2018 17:02:30 GMT
recorded_with: VCR 4.0.0
