---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/xxx/Messages.json
    body:
      encoding: UTF-8
      string: Body=MyApp+Verification+Code%3A+4330&From=%2B15005550001&To=%2B5519123451234
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic xxx
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.033'
      Twilio-Request-Id:
      - RQ607e09f3a54b49dabbf3d712c4451e3f
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21212, "message": "The ''From'' number +15005550001 is not
        a valid phone number, shortcode, or alphanumeric sender ID.", "more_info":
        "https://www.twilio.com/docs/errors/21212", "status": 400}'
  recorded_at: Sat, 17 Mar 2018 17:02:31 GMT
recorded_with: VCR 4.0.0
